# Microsoft Agent Framework
agent-framework-core==1.0.0b251120
agent-framework-devui==1.0.0b251120
agent-framework-redis==1.0.0b251120

# Azure Monitoring
azure-monitor-opentelemetry-exporter>=1.0.0b41

# Redis Vector Library
redisvl==0.12.1

# Azure Identity
azure-identity

# Redis
redis

# Environment
python-dotenv

# Weather API
requests
